# env to not leak important details
.env

# run.sh on my local machine
run.sh

# ignore replays
replays/*

# ignore uploaded bots
bots/*

# ignore .out files
*.out

# ignore elo storage file
elos.json

# bot properties files
discord_bot.properties

# engine config
engine_config.properties

# pycache
__pycache__/*
